@import url("https://fonts.googleapis.com/css?family=Lato|Poppins");

:root {
  --blue: #32a1a5;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 4px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
::-webkit-input-placeholder {
    color: var(--offWhite);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: var(--mainBlack);
  background: var(--offWhite);
  line-height: 1.4;
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
  font-size: 3vw;
  color:#107074;
}
p {
  margin-bottom: 1.25rem;
}
a {
  text-decoration: none;
  color: var(--blue);
}
footer{
  font-size: 10px;
  text-align: right;
}
.btn-primary {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--offWhite);
  border: 2px solid var(--offWhite);
  padding: 0.9rem 1.6rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  border-radius: 35px;
  width: 20vw;
  text-align: center;
  margin: 0.8vw;
  font-size: 1.3vw;
}
.recorder {
  width: 42vw;
  font-size: 2vw;
}
.btn-primary {
  background: var(--blue);
  color: var(--offWhite);
  border: 2px solid var(--blue);
}
.btn-primary:hover {
  background: transparent;
  color: var(--blue);
}
main {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promptBox {
  width: 50vw;
  text-align: center;
}
hr{
  border: 2px dashed var(--blue);
}
@media screen and (max-width: 768px) {
  .promptBox {
    width: 70vw;
  }
  .btn-primary {
    font-size: 2.5vw;
    width: 32vw;
  }
  .recorder{
    width: 66vw;
    font-size: 3.3vw;
  }
  h1 {
    font-size: 5vw;
  }
}